body{
    font-family: monospace;
    font-size: 200px;
    font-weight: 900;
}
.container{
    width:85%;
    background: #57cc99;
    margin:0 auto;
    border-radius: 2%; 
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    font-size:x-large;
    height: 30px;
    width: 30px;
}
